{{> head}}
<body>
    <p><a href="/home">Home</a></p>
    <p><a href="/about">About</a></p>
    <h1>about darek</h1>
    <p>{{date}}</p>
    <img src="{{img}}" alt="pics">
    {{> footer}}
</body>
</html>